.footer {
	align-items: center;
  display: flex;
  height: 80px;
  justify-content: space-between;
  top: 0px;
  width: 100%;
	height: 120px;
}

a {
	text-decoration: none;
	color: white;
	font-size: 18px;
	padding: 0px 25px;
}
